.navigation {
    overflow: hidden;
    background-color:rgb(49, 49, 49);
}

.navigation .button {
    float: left;
    display: block;
    background-color:rgb(49, 49, 49) ;
    color: white;
    text-align: center;
    border: none;
    padding: 24px 3cap;
}

.navigation .button:hover {
    background-color:rgb(41, 41, 41) ;
}

.navigation .home {
    float: left;
    display: block;
    background-color: #90a841 ;
    color: white;
    text-align: center;
    border: none;
    padding: 24px 30px;
}

.navigation .home:hover {
    background-color: #6b7c30 ;
}

.navigation button:hover {
    cursor: pointer;
}